<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
  <title>게시 글 목록</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body th:align="center">
<h1>게시글 목록</h1>
<span sec:authorize="isAuthenticated()"></span>
<b><font color="red"><span sec:authentication="principal.member.name"></span></font></b> 님 환영합니다.............
<!--<h3><font color="red" th:text="${session['member'].name}"></font>님 게시판 입장을 환영합니다.</h3>-->
<a th:href="@{/system/logout}">로그아웃</a>&nbsp;&nbsp;&nbsp;
<a th:href="@{/admin/adminPage}">게시판관리</a>

<!-- 검색 시작 -->
<form th:action="@{/board/getBoardList}" method="post">
  <table th:align="center" border="1" cellpadding="0" cellspacing="0" width="700">
    <tr>
      <td align="right">
        <select name="searchCondition">
          <option value="TITLE">제목</option>
          <option value="TITLE">내용</option>
        </select>
        <input name="searchKeywoard" type="text"/>
        <input type="submit" value="검색"/>
      </td>
  </table>
</form>
<!-- 검색 종료 -->
<hr><table th:align="center" border="1" cellpadding="0" cellspacing="0" width="700">
  <tr>
    <th bgcolor="orange" width="50">번호</th>
    <th bgcolor="orange" width="400">제목</th>
    <th bgcolor="orange" width="100">작성자</th>
    <th bgcolor="orange" width="100">등록일</th>
    <th bgcolor="orange" width="50">조회수</th>
  </tr>

  <tr th:each="board,state : ${boardList}">
    <td th:text="${state.count}" th:align="center"></td>
    <td><a th:href="@{/board/getBoard(seq=${board.seq})}" th:text="${board.title}"></a></td>
    <td th:text="${board.member.name}" th:align="center"></td>
    <td th:text="${#dates.format(board.createDate,'yyyy-MM-dd')}" th:align="center"></td>
    <td th:text="${board.cnt}" th:align="center"></td>
  </tr>
</table>
<br>
<a th:href="@{/board/insertBoard}">게시글 등록</a>
</center>
</body>
</html>